.search-bar {
    margin: auto;
}

.search {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    right: 5%;
    animation: fadeIn 1.5s linear .3s backwards;
    bottom: 50px;
}

.weatherInput {
    -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  width: 50%;
  height: 10%;
  font-size: 1.5rem;
  border-radius: 50px;
  text-indent: 15px;
  font-family: 'Carlito', sans-serif;
  background-color: black;
  outline: 2px solid white;
  color: white;
  padding-inline-end: 100px;
}

.weatherInput:focus {
    outline: 2px solid var(--main-outline);
    background-color: black;
}

.searchInput {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 50px;
    width: 5%;
    height: 8%;
    cursor: pointer;
    position: relative;
    left: 49%;
    padding: 5px;
    background-color: white;
    color: var(--main-outline);
    transition: .5s;
}

.searchInput:hover {
    background-color: var(--main-outline);
    color: white;
    width: 8%;
}

.searchIcon {
    font-size: 1.5rem;
}

.geolocation {
    position: relative;
    right: -49%;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.geoicon {
    font-size: 1.5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.title {
    color: white;
    font-family: 'Carlito', sans-serif;
    font-size: 4rem;
    width: 60%;
    animation: fadeIn 1.5s linear .3s backwards;
}

.you {
    color: var(--main-outline);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        margin: auto;
    }
  }

@media screen and (min-width: 768px)
and (max-width: 1024px) {
    .search {
        width: 70vw;
    }
    .title {
        margin: auto;
    }
    .weatherInput {
        width: 80%;
        padding-inline-end: 100px;
    }
    .searchInput {
        left: 79%;
        width: 8%;
    }
    .searchInput:hover {
        width: 11%;
    }
    .geolocation {
        left: 79%;
    }
}

@media screen and (max-width: 768px) {
    .search {
        width: 90vw;
    }
    .title {
        margin: auto;
    }
    .weatherInput {
        width: 100%;
        padding-inline-end: 140px;
    }
    .searchInput {
        left: 79%;
        width: 16%;
    }
    .searchInput:hover {
        width: 16%;
    }
    .geolocation {
        left: 79%;
    }
}

@media screen and (max-width: 480px) {
    .search {
        width: 90vw;
    }
    .title {
        margin: auto;
    }
    .weatherInput {
        width: 100%;
        padding-inline-end: 100px;
    }
    .searchInput {
        left: 76%;
        width: 16%;
    }
    .searchInput:hover {
        width: 16%;
    }
    .geolocation {
        left: 76%;
    }
}