.weatherCard {
    width: 65%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 12px;
    user-select: none;
}

.currentWeather, .windInfo, .hourlyForecast, .sevendayForecast {
    border-radius: 20px;
    background-color: #d4418e;
    background-image: linear-gradient(315deg, #d4418e 0%, #0652c5 74%);
}

.currentWeather {
    flex-basis: 29%;
    position: relative;
    color: white;
    font-family: 'Carlito', sans-serif;
}

.windInfo {
    flex-basis: 69%;
}

.hourlyForecast {
    flex-basis: 100%;
}

.sevendayForecast {
    flex-basis: 100%;
}

.current {
    margin-left: 20px;
}

.region {
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 10px;
}

.country {
    font-size: 1.5em;
    margin-top: -5px;
    margin-bottom: 0px;
    opacity: .5;
}

.cimage {
   position: absolute;
   top: 56%;
   left: 3%;
}

.temp {
    font-size: 5rem;
    left: 25%;
    position: absolute;
    bottom: 5%;
    top: 50%;
}

.cimage, .temp {
    margin-top: 30px;
}

.ctext {
    font-size: 3rem;
    position: absolute;
    top: 30%;
    opacity: .5;
}

.windInfo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Carlito', sans-serif;
}

.date {
    position: absolute;
    top: 1%;
    left: 5%;
    opacity: .5;
}

.time {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 2rem;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
    align-content: stretch;
    column-gap: 8px;
    row-gap: 30px;
    position: relative;
    top: 20px;
}

.row1 {
    flex-basis: 20%;
}

.row2 {
    flex-basis: 20%;
}

.info {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: .5%;
}

.itext {
    font-size: 1rem;
    opacity: .5;
}

.icon {
    font-size: 1.5rem;
    position: relative;
    top: 6px;
}

.currentData {
    position: relative;
    left: 4%;
}

.hourlyForecast {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Carlito', sans-serif;
}

.hourlyForecastContainer { 
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-content: stretch;
    column-gap: 20px;
}

.hourlyContainer {
    text-align: center;
    font-size: 1.3rem;
}

.Thirdchild {
    min-height: 20px;
    font-size: 1rem;
    color: rgb(101, 181, 255);
}

.Fourthchild {
    font-size: 1.5rem;
}

.hourlyTitle {
    position: absolute;
    top: 8%;
    left: 45%;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

