* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0; 
  padding: 0;
  background: radial-gradient(circle at -0.8% 4.3%, rgb(59, 176, 255) 0%, rgb(76, 222, 250) 83.6%);
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
