.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
    margin-top: 45vh;
    color: #00A9FF;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 50% 50% 0;
    border: 15px solid #00A9FF;
    transform: rotate(45deg) translate(0, 0);
    box-sizing: border-box;
    animation: animMarker 0.4s ease-in-out infinite alternate;
  }
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150%;
    width: 24px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    animation: animShadow 0.4s ease-in-out infinite alternate;
  }

  .changeBack {
    background-color: #000000;
  }

  .fixWeatherCard {
    margin-top: 3% !important;
  }

  .bad:hover {
    outline: none !important;
  }

  .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: 10px;
  }

  .skeleton-text {
    width: 70%;
    height: 10%;
    margin-top: 10%;
    margin-left: 7%;
    padding-top: 4px;
  }

  .skeleton-wind {
    width: 20%;
    height: 25%;
  }

  .fixWind {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    column-gap: 8px;
    row-gap: 5px;
    position: relative;
    top: 15%;
    left: 10%;
  }

  .skeleton-hour {
    width: 15% !important;
    height: 80% !important;
    margin-left: 2%;
  }

  .erm {
    height: 100%;
    width: 95%;
    display: flex;
    margin-top: 2.5%;
    position: relative;
    left: 1.5%;
  }

  .mre {
    justify-content: center;
  }

  .fixWidth {
    width: 100% !important;
}

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(0, 0%, 35%);
    }
    100% {
      background-color: hsl(0, 0%, 50%);
    }
  }

  @keyframes animMarker {
    0% {
      transform: rotate(45deg) translate(5px, 5px);
    }
    100% {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }
  
  @keyframes animShadow {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .mobileCurrent {
      height: 206px;
    }
    .skeleton-text {
      margin-top: 7%;
      margin-left: 13%;
    }
    .skeleton-wind {
      width: 60%;
      height: 10%;
    }
    .badWind {
      height: 650px;
      padding-bottom: 20px;
    }
    .fixWind {
      top: 9%;
    }
    .mobileHourly {
      height: 200px;
    }
    .mobileSeven {
      height: 200px;
    }
    .erm {
      margin-top: 7%;
    }
    .skeleton-hour {
      width: 30% !important;
    }
  }